.option {
  position: relative;
  padding: 1rem 0 1.5rem 0;
}

.option h6 {
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}

.option a {
  text-transform: none;
  font-weight: 400;
}

.button {
  text-align: right;
  padding-top: 0.5rem;
}

.table tr td:nth-child(2) {
  width: 40%;
}

.table p {
  margin-bottom: 10px !important;
}

.table ul {
  margin-left: 45px;
}

.table ul li {
  margin-bottom: 5px;
  list-style-type: disc;
}
