.authorization {
  padding: 0;
  background-color: var(--white);
  height: 100vh;
  width: 100%;
  margin-left: -15px;
  margin-right: -15px;
}

.formWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form {
  width: 50%;
}
